.calendar {
  width: $calendar_width;
  display: $calendar_display;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  gap: 1px;
  padding: 10px;

  &__day {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: $cell-size;
    height: $cell-size;
    background-color: $gray-color;
    border: $border-size solid $black-color;
    font-size: $font-size;
    position: relative;

    &:hover {
      cursor: pointer;
      background: #ffbfcb;
      transform: translateY(-20px);
      transition:
        transform $transition-duration,
        background-color $transition-duration;
    }
  }

  @for $i from 1 through 31 {
    &__day:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }

  @for $i from 28 through 31 {
    &--month-length-#{$i} &__day:nth-child(n + #{$i + 1}) {
      display: none;
    }
  }

  @each $day, $index in $day-map {
    &--start-day-#{$day} &__day:first-child {
      margin-left: calc(#{$index} * (#{$cell-size} + #{$border-size}));
    }
  }
}
