.calendar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $gap;
  width: $calendar_width;

  &__day {
    box-sizing: border-box;
    background-color: #eee;
    height: $calendar_day_height;
    width: $calendar_day_width;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    transition-duration: 500ms;

    &:hover {
      cursor: pointer;
      background: #ffbfcb;
      transform: translateY(-20px);
      transition-duration: 500ms;
    }
  }

  @for $day from 1 through 31 {
    .calendar__day:nth-child(#{$day})::before {
      content: '#{$day}';
    }
  }

  @each $day, $index in $day-map {
    .calendar--start-day-#{$day} .calendar__day:first-child {
      margin-left: calc(#{$index} * (#{$cell-size} + #{$gap}));
    }
  }

  @for $length from 28 through 31 {
    .calendar--month-length-#{$length} {
      .calendar__day:nth-child(n + #{$length + 1}) {
        display: none;
      }
    }
  }
}
